version: "3.8"

services:
  mysql:
    image: mysql:8.4
    container_name: moida-mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: mysql
      MYSQL_DATABASE: moida
      MYSQL_USER: moida
      MYSQL_PASSWORD: mysql
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
